body {
    padding-top: 60px;
}

a {
    color: #08c;
    text-decoration: none;
}

.brand-bar{
    background-color: #2C6BB4;
    border-color: #252525;
}

.brand-text{
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #FFF;
}

.brand-text:hover {
    text-decoration:none;
    color: #AAA;
}

.popup{
    padding-top: 60px;
    margin: auto;
    text-align: center;
}

.popup-title{
    font-size: 30px;
    font-weight: 200;
}

.popup-menu{
    margin: 5px;
}

.client{
    display: none;
}

.list {
    float: left;
    padding-top: 20px;
}

.row{
    display: inline-block;
}

.pic{
    float: left;
    width : 45px;
    height : 45px;
    border-radius: 50%;
    margin-right : 10px;
}

.client_pic {
    margin: 0 auto;
    width : 110px;
    height : 120px;
}

.client_pic:hover {
    cursor: pointer;
}

.username {
    float :left;
    position : relative;
    top : 12px;
    width: 50px;
    margin-right : 10px;
}

.commentPan {
    float: left;
    background : #AAF;
    border-radius : 10px;
    width : 15px;
    height : 15px;
    position: relative;
    top: 2px;
}

.vote {
    float: left;
    background : #F00;
    width : 10px;
    height : 10px;
    position: relative;
    top: 4px;

}

.comment {
    text-align: center;
    border-radius : 15px;
    border: 2px solid #73AD21;
    padding: 8px;
    min-width: 100px;
    position: relative;
    top: 5px;
    left : 5px;
}