<!doctype html>
<html lang="en" ng-app>
<head>
    <title>재미로 하는 Flitto 이상형 월드컵</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/admin.js"></script>
</head>
<body>
<div class="brand-bar navbar navbar-fixed-top navbar-inverse">
    <div>
        <div class="pull-right">
            <a href="https://www.flitto.com" class="brand-text">Flitto</a>
        </div>
    </div>
</div>

<div class="container" ng-controller="AdminController">
    <div class="list" ng-repeat="user in users" style="width:100%; display:block;">
        <div>
            <img class="pic" ng-src="{{user.pic}}" imageonload/>

            <div class="username" ng-bind="user.name"></div>

            <div style="float: left; width: 80%; position:relative;">

                <div style="position: absolute;">
                    <div style="float:left; margin-right: 5px;">{{user.votes.length}}</div>
                    <div class="vote" ng-repeat="vote in user.votes">
                    </div>
                </div>
                <div style="position: absolute; top: 20px;">
                    <div style="float:left; margin-right: 5px;">{{user.comments.length}}</div>
                    <div class="commentPan" ng-mouseover="commenthoverIn()" ng-mouseleave="commenthoverOut()"
                         ng-repeat="comment in user.comments" style="overflow: visible !important; position: relative;">
                        <div class="comment" ng-show="hoverNode" style="position: absolute;">{{comment.comment}}</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>
