<!doctype html>
<html lang="en" ng-app>
<head>
    <title>재미로 하는 Flitto 이상형 월드컵</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/client.js"></script>
</head>
<body>

<div class="brand-bar navbar navbar-fixed-top navbar-inverse">
    <div>
        <div class="pull-right">
            <a href="https://www.flitto.com" class="brand-text">Flitto</a>
        </div>
    </div>
</div>

<div class="popup">
    <div class="popup-title">당신의 성별은 무엇입니까?</div>
    <div class="lobby container" style="padding-top: 30px; display: block;">
        <button id="btn_male" class="btn btn-primary popup-menu">남자</button>
        <button id="btn_female" class="btn btn-danger popup-menu">여자</button>
    </div>
</div>

<div class="container client" ng-controller="ClientController">
    <div class="list" ng-repeat="dd in roster">
        <div>
            <img class="pic" ng-src="{{dd.pic}}" imageonload/>

            <div class="span2 username" ng-bind="dd.name"></div>
        </div>
    </div>

    <div class="row">
        <div id="title" class="text-center popup-title"><font style="color: #00F; " size="8"> {{max_game}} </font>강
            선택해주세요.
        </div>

        <div class="text-center" style="text-size: 20px; ">{{cnt_game+1}} 번째</div>

        <div ng-repeat="user in users">
            <div class="col-xs-6" style="margin-top:10px; height: 100%; text-align: center;">
                <img class="client_pic" ng-src="{{user.pic}}" imageonload ng-click="selectPlayer(user.id)"/>

                <div ng-bind="user.name"></div>
                <div style="margin-top: 10p;">
                    <form ng-submit="send(user.id)">
                        <div class="">
                            <input type="text" class="form-control" ng-model="text"
                                   placeholder="궁금한 점이나 하고 싶은 말을 적어주세요.">
                            <input type="submit" class="btn btn-primary" style="margin-top: 5px;" value="Send"
                                   ng-disabled="!text">
                        </div>
                    </form>
                    <!--<input type="text" class="form-control" style="width: 80%; display:inline;" ng-model="text"-->
                    <!--placeholder="궁금한 점이나 하고 싶은 말을 적어주세요.">-->
                    <!--<button class="span1 btn btn-primary" ng-click="send(user.id, text)" ng-disabled="!text">Send-->
                    <!--</button>-->
                </div>
                <div style="margin-top: 10px;" ng-bind="user.desc"></div>
            </div>
        </div>
    </div>


</div>


</body>
</html>
